<!DOCTYPE html>
<html ng-app="DialectApp" >
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind="title"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="progress progress-striped active" ng-show="isBusy">
    
    <div class="progress-bar" style="width: 100%">Loading...</div>
</div>
<div style="max-width: 600px; padding-left: 10px" class="container">

<h1 style="color:blue" ng-bind="title"></h1>
    <table ng-repeat="pair in pairs | indexFilter: currentIndex" width="500">
        <tr>
            <td colspan="2" ng-switch on="pair.correct">
			<h1 ng-switch-when="true">{{pair.choice1}}</h1>
            <h1 ng-switch-when="false">{{pair.choice2}}</h1>
			<img ng-src="img/{{pair.image}}" width="500"/></td>
        </tr>
		<tr ng-show="answered">
			<td colspan="2"><h2 ng-show="answered" style="background-color: navy; color:white; width:100%; margin: auto">Correct Answers</h2></td>
        </tr>
        <tr ng-hide="answered">
        <td></td>
        </tr>
        <tr ng-show="answered">

            <td>
                <h2 ng-bind="pair.choice1"></h2></td>

            <td>
                <h2 ng-bind="pair.choice2"></h2></td>
        </tr>

        <tr>
            <td><input type="image" src="img/ukflag.svg" width="250px" height="125px" ng-disabled="answered" ng-click="gameChoice(true, pair.correct)"></td>
            <td><input type="image" src="img/usflag.svg" ng-click="gameChoice(false, pair.correct)" ng-disabled="answered" width="250px" height="125px">
        </td>
        </tr>
        <tr>

            <td colspan="2"><input type="button" class="btn btn-primary btn-lg btn-block" ng-click="goToNextCard()" ng-hide="!answered"

                                   value="Next Word"/></td>
        </tr>
    </table>
    <h3 style="color:green" ng-show="correctlyAnsweredQuestion" ng-bind="rightMessage"></h3>
    <h3 style="color:red" ng-show="wronglyAnsweredQuestion" ng-bind="wrongMessage"></h3>
    <h4 ng-show="completed">Correct: {{numCorrect}} out of {{completed}} Remaining: {{total-completed}}</h4>

</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>